a {
    text-decoration: none;
    color: #66ccff;
}

h1 {
    text-align: center;
    color: pink;
    font-weight: normal;
    font-size: 40px;
}

.set_middle {
    text-align: center;
}

h4 {
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    color: aquamarine;
}

table {
    width: 50%;
    margin: 0 auto;
}